**/submission*/  

**/__pycache__/

**/images/

**/titanic/

**/house_prices/

**/predict_future_sales/

**/spaceship_titanic/

**/crab_age/

**/bank_churn/

**/regression_of_used_car_prices/

**/classification_with_an_academic_success_dataset/

**/santander_value_prediction_challenge/

**/experiments_history/

**/strong_baseline/

**/weak_baseline/

**/experiments_history.ZIP

test.py
test.txt
api_key.txt
long_message_**.txt

**/ml_tools_doc/
